.page-header {
  text-align: center;
  padding: 60px 5%;
  background: #fcfaf8;
}
.goHome a i {
  font-size: 3rem;
  font-weight: bolder;
  color: #5e115e;
}

.goHome a i:hover {
  color: #881818;
  transition: 0.3s;
}
.page-header h1 {
  font-size: 3rem;
  color: #5e1111;
  margin-bottom: 10px;
}

.product-container {
  display: flex;
  padding: 40px 5%;
  gap: 30px;
}

/* Sidebar */
.filter-sidebar {
  flex-shrink: 0;
}

.filter-group {
  margin-bottom: 30px;
}

.filter-group h4 {
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

.filter-group label {
  display: block;
  margin-bottom: 10px;
  font-size: 0.95rem;
  cursor: pointer;
}

/* Product Grid */
.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.product-card {
  background: #fff;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-image {
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.product-image img {
  height: 250px;
  width: 350px;
  object-fit: cover;
  transition: 0.5s;
}

.badge {
  position: absolute;
  top: 15px;
  left: 15px;
  background: #bf630d;
  color: white;
  padding: 5px 12px;
  font-size: 0.8rem;
  border-radius: 3px;
}

.product-card:hover .product-image img {
  transform: scale(1.1);
}

.product-info {
  padding: 20px 0;
  text-align: center;
}

.product-info h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #333;
}

.price {
  color: #881818;
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.view-btn {
  text-decoration: none;
  color: #555;
  font-size: 0.9rem;
  border-bottom: 1px solid #881818;
  padding-bottom: 2px;
}

/* Responsive */

@media (max-width: 1060px) {
  .product-image img {
    height: 230px;
    width: 280px;
  }
  .product-grid {
    gap: 15px;
  }
}
@media (max-width: 768px) {
  .product-container {
    flex-direction: column;
  }
  .filter-sidebar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
  }
  .product-image img {
    height: 160px;
    width: 200px;
  }
  .product-grid {
    gap: 10px;
  }
}
@media (max-width: 480px) {
  .page-header {
    padding: 30px;
  }
  .page-header h1 {
    font-size: 2rem;
  }
  .goHome a i {
    font-size: 2.5rem;
  }

  .product-image img {
    height: 140px;
    width: 180px;
  }
  .product-grid {
    gap: 6px;
  }
  .product-info h3 {
    font-size: 0.8rem;
  }
  .price {
    font-size: 0.6rem;
  }
  .view-btn {
    font-size: 0.7rem;
  }
  .hover-actions {
    height: 20px;
    width: 30px;
    object-fit: cover;
  }
}
@media (max-width: 480px) {
  .product-image img {
    height: 110px;
    width: 140px;
  }
}
